
/* Your CSS Code here. */

.holder{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,200px);
    background-color: black;
}
.box{
    height: 100px;
    width: 100px;
    background-color:rgb(9, 188, 131);
}